{% extends "base_Dbms.html" %} {% load staticfiles %} {% block content %}

<!-- 수정과 쓰기. -->
<!-- Main Content -->
<div class="container">
	<form action="" method="POST">
	{% csrf_token %}
		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<span class="input-group-text" id="inputGroup-sizing-default"
				style="height:40px;border-radius: 25px 0px 0px 25px; border: none; color: #483D8B; background-color: #D2D2FF;  
				font-size: 15px; font-family: GyeonggiBatangOTF"
				>제목 </span>
			</div>
			<input type="text" id="title" name = "title" class="form-control"
				aria-label="Sizing example input"
				aria-describedby="inputGroup-sizing-default"
				style="height:40px;border-radius: 0px 25px 25px px; border: none; color: #483D8B; background-color: #D2D2FF;  
				font-size: 15px; font-family: GyeonggiBatangOTF"
				>
		</div>
		<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text"
    style="border-radius: 25px 0px 0px 25px; border: none; color: #483D8B; background-color: #D2D2FF;  font-size: 15px; font-family: GyeonggiBatangOTF"
    >내용</span>
  </div>
  <textarea rows="20" id = "content" name = "content" class="form-control" aria-label="With textarea"
  style=" color:#483D8B; background-color: #fdf9fd; font-family: GyeonggiBatangOTF"
  >
  
  
  </textarea>
  
</div>
<br>
	<input type="hidden" name = "id" value="{{user.id}}">
	<button class="btn btn-success" type="submit"
	style="border-radius: 12px; border: none; color: #483D8B; background-color: #D2D2FF;  font-size: 15px; font-family: GyeonggiBatangOTF"
	>저장</button>
	</form>

</div>
{% if post %}
<script>
document.getElementById('title').value = "{{post.title}}";
document.getElementById('content').value = "{{post.content}}";
</script>
  {% else %}
  
  {% endif %}
<hr>
{% endblock content %}
