{% extends "base.html" %}
{% block content %}
	<style>
.M_btn>a {
	text-decoration: none;
	color: #fff;
}
.M_btn>a:hover {
	color: #000;
}
</style>
	<div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-10 mx-auto">
        <div class="post-preview">
            <h2 class="post-title">
				로그인
            </h2>
        </div>
        <hr>
        <div class="loginForm_box">
        	<form name="loginForm" action="" method="post">
        	{% csrf_token %}
        		<div class="ID_form">
        			<input class="id" type="text" name="id" placeholder="&nbsp;&nbsp;아이디">
        		</div>
        		<div class="PW_form">
        			<input class="pw" type="password" name="pw" placeholder="&nbsp;&nbsp;비밀번호">
        		</div>
        		<div class="subM_form">
        			<input class="loginBtn" type="submit" value="로그인">
        		</div>
			</form>
        </div>
      </div>
	</div>
	</div>
	{% endblock content %}
	