{% extends "base.html" %}
{% load staticfiles %}
{% block content %}


<!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-10 mx-auto">
        <div class="post-preview">
            <h2 class="post-title">
				OOP
            </h2>
            <h3 class="post-subtitle" style="margin-bottom: 80px;">
              	객체지향 프로그래밍
            </h3>
        </div>
        <hr>
		<div class="container">
			<form class = "form-horizontal" action = "../static/BoardInsertAction.php" method = "post">		
				<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text" id="inputGroup-sizing-default">제목</span>
					</div>
        			<input type="text" id="title" name = "board_title" class="form-control"
        				aria-label="Sizing example input"
        				aria-describedby="inputGroup-sizing-default">
				</div>
				<div class="input-group">
    				<div class="input-group-prepend">
    					<span class="input-group-text">내용</span>
    				</div>
  					<textarea rows="20" id = "content" name = "content" class="form-control" aria-label="With textarea"></textarea>
  				</div>
				<input type="hidden" name = "id" value="{{user.id}}">
				<button class="btn btn-success" type="submit">저장</button>
				<a class="btn btn-secondary" href="./ServerSideBoardList.php"> 리스트로 돌아가기</a>
			</form>
		</div>
	</div>
  </div>
  <hr>

{% if post %}
<script>
document.getElementById('title').value = "{{post.title}}";
document.getElementById('content').value = "{{post.content}}";
</script>
  {% else %}
  
  {% endif %}

{% endblock content %}
